<div id="viewport" *ngIf="isLoggedIn() && isHomePage() === false">
  <!-- Sidebar -->
  <div id="sidebar" class="shadow-lg">
    <header>
      <span (click)="home()">PASQO</span>
    </header>
    <br>
    <br>
    <br>
    <br *ngIf="!isUserStudent() && !isRootAdmin">
    <div>

      <ul>
        <a routerLink="dashboard" id="nav-link" attr.aria-current="{{currentPageIsDashboard}}" (click)="dashboard()">
          <fa-icon [icon]="faChartBar" [fixedWidth]="true"></fa-icon>
          <li>DASHBOARD</li>
        </a>
        <a routerLink="exams" id="nav-link" attr.aria-current="{{currentPageIsExams}}" (click)="onClickExams()">
          <fa-icon [icon]="faFileAlt" [fixedWidth]="true"></fa-icon>
          <li>
            <span *ngIf="!isUserStudent()">EXAMS</span>
            <span *ngIf="isUserStudent()">ALL EXAMS</span>
          </li>
        </a>
        <a routerLink="courses" id="nav-link" *ngIf="!isUserStudent()" attr.aria-current="{{currentPageIsCourses}}"
          (click)="onClickCourses()">
          <fa-icon [icon]="faBookReader" [fixedWidth]="true"></fa-icon>
          <li>COURSES</li>
        </a>
        <a routerLink="programmes" id="nav-link" *ngIf="!isUserStudent()"
          attr.aria-current="{{currentPageIsProgrammes}}" (click)="onClickProgrammes()">
          <fa-icon [icon]="faGraduationCap" [fixedWidth]="true"></fa-icon>
          <li>PROGRAMMES</li>
        </a>
        <a routerLink="schools" id="nav-link" *ngIf="isRootAdmin" attr.aria-current="{{currentPageIsSchools}}"
          (click)="onClickSchools()">
          <fa-icon [icon]="faUniversity" [fixedWidth]="true"></fa-icon>
          <li>SCHOOLS</li>
        </a>
        <a routerLink="users" id="nav-link" *ngIf="isRootAdmin" attr.aria-current="{{currentPageIsUsers}}"
          (click)="onClickUsers()">
          <fa-icon [icon]="faUsers" [fixedWidth]="true"></fa-icon>
          <li>USERS</li>
        </a>
        <a routerLink="exampractice" id="nav-link" *ngIf="isUserStudent()" attr.aria-current="{{currentPageIsPractice}}"
          (click)="onClickPractice()">
          <fa-icon [icon]="faBookReader" [fixedWidth]="true"></fa-icon>
          <li>PRACTICE</li>
        </a>
        <a routerLink="examhard" id="nav-link" *ngIf="isUserStudent()" attr.aria-current="{{currentPageIsExamination}}"
          (click)="onClickExamination()">
          <fa-icon [icon]="faClock" [fixedWidth]="true"></fa-icon>
          <li>EXAMINATION</li>
        </a>
        <a routerLink="flashquiz" id="nav-link" *ngIf="isUserStudent()" attr.aria-current="{{currentPageIsFlashQuiz}}"
          (click)="onClickFlashQuiz()">
          <fa-icon [icon]="faGamepad" [fixedWidth]="true"></fa-icon>
          <li>FLASH-QUIZ</li>
        </a>
        <a routerLink="messages" id="nav-link" *ngIf="isRootAdmin" attr.aria-current="{{currentPageIsMessages}}"
          (click)="onClickMessages()">
          <fa-icon [icon]="faComment" [fixedWidth]="true"></fa-icon>
          <li>MESSAGES</li>
        </a>
        <a routerLink="profile" id="nav-link" attr.aria-current="{{currentPageIsProfile}}" (click)="onClickProfile()">
          <fa-icon [icon]="faUser" [fixedWidth]="true"></fa-icon>
          <li>PROFILE</li>
        </a>
        <br *ngIf="isUserStudent() || !isRootAdmin">
        <br *ngIf="isUserStudent() || !isRootAdmin">
        <br *ngIf="isUserStudent() || !isRootAdmin">
        <br *ngIf="isUserStudent() || !isRootAdmin">
        <br *ngIf="!isUserStudent() && !isRootAdmin">
        <br *ngIf="!isUserStudent() && !isRootAdmin">
        <br *ngIf="!isRootAdmin">
        <br *ngIf="!isRootAdmin">
        <a (click)="logout()" id="nav-link" style="cursor: pointer;">
          <fa-icon [icon]="faSignOutAlt" [rotate]="180" [fixedWidth]="true" style="color: #f2395a; font-size: 1.1em;">
          </fa-icon>
          <li style="font-size: 1.2em; font-weight: 700;">LOGOUT</li>
        </a>

      </ul>

    </div>
  </div>

  <div class="title-bar">
    {{route}}
    <span class="float-right mr-5" style="font-size: 1.3rem;">
      <fa-icon [icon]="faSmileWink" [fixedWidth]="true" style="color: #ffca1d;"></fa-icon>
      Hey, {{currentUserName}}
    </span>
  </div>

</div>



<!-- Markup for home Title bar -->

<div class="title-bar-2" *ngIf="isLoggedIn() === false || isHomePage()">

  <h4 class="logo">PASQO</h4>

  <div class="nav-items-container">
    <div>
      <span (click)="myHome()" attr.aria-current="{{currentPageIsHome}}">
        <fa-icon [icon]="faHome" [fixedWidth]="true"></fa-icon>
        Home
      </span>
      <span (click)="dashboard()" *ngIf="isLoggedIn()">Dashboard</span>
      <span (click)="features()" attr.aria-current="{{currentPageIsFeatured}}">Features</span>
      <span (click)="aboutUs()" attr.aria-current="{{currentPageIsAbout}}">About Us</span>
      <span (click)="contactUs()" attr.aria-current="{{currentPageIsContact}}">Contact Us</span>
    </div>
  </div>

  <div class="call-to-action-container">
    <button class="btn sign-up shadow-lg" (click)="signUp()" *ngIf="!isLoggedIn() && !isSignUpPage()">SignUp</button>
    <button class="btn login shadow-lg" (click)="login()" *ngIf="!isLoggedIn() && !isLoginPage()">Login</button>
    <button class="btn logout shadow-lg" *ngIf="isLoggedIn()" (click)="logout()">
      <fa-icon [icon]="faSignOutAlt" [rotate]="180" [fixedWidth]="true" style="color: #f2395a; font-size: 1.1em;">
      </fa-icon>
      LOGOUT
    </button>
  </div>

</div>
<router-outlet></router-outlet>